# Making Predictions with Linear Regression using weather data

In this notebook, I would be implementing a simple Linear Regression model to predict kWHDelivered using three different methods:

1. Using historical weather data from only one charging station
2. Using historical weather data from 54 charging stations with cummulative kWhDelivered added based on stationID
3. Using historical weather data for each 54 charging stations using Transfer Learning

## Method 1: Making Predictions with Linear Regression using historical weather data from only one charging station

In this first method, we would be making a prediction with Linear regression model using only the historical charging station data for a single charging station

In [ ]:
# Import the required packages

In [128]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, mean_absolute_error
from sklearn.model_selection import train_test_split
import warnings
import os as os
from smape import smape

In [3]:
#Load the data from the local file

In [129]:
data = pd.read_csv('./caltech_model_data/2-39-123-23.csv')

In [15]:
# Display the first few rows of the dataframe

In [130]:
data.head()

,month,siteID,stationID,timezone,spaceID,kWhDelivered,MinTemp,MaxTemp,AvgTemp,AvgPrecipitation,AvgHumidity,AvgWindSpeed
0,2018-05,2,2-39-123-23,America/Los_Angeles,CA-313,382.524000,11,32,18.290323,0.006855,56.451613,9.504032
1,2018-06,2,2-39-123-23,America/Los_Angeles,CA-313,491.981000,14,32,22.433333,0.000000,50.483333,9.220833
2,2018-07,2,2-39-123-23,America/Los_Angeles,CA-313,395.959351,17,44,27.548387,0.000000,46.762097,8.536290
3,2018-08,2,2-39-123-23,America/Los_Angeles,CA-313,666.838745,18,38,26.516129,0.000000,47.411290,8.705645
4,2018-09,2,2-39-123-23,America/Los_Angeles,CA-313,548.855000,17,35,24.533333,0.000000,49.204167,7.287500

In [175]:
# Convert the month to datetime format and set it as the index

In [131]:
data['Month'] = pd.to_datetime(data['month'])
data.set_index('Month', inplace=True)

In [26]:
# Prepare the data for Linear Regression

In [132]:
X = data.drop(["siteID","stationID", "timezone","spaceID","kWhDelivered","month"], axis=1)
y = data["kWhDelivered"]

In [29]:
# Split data into training and testing sets

In [133]:
 X_train, X_test = X[:-1], X[-1:] 
 y_train, y_test = y[:-1], y[-1:]

In [31]:
# Fit Linear Rregression model

In [134]:
model = LinearRegression()
model_fit = model.fit(X_train, y_train)

In [35]:
# Make predictions using the trained model

In [135]:
predictions = model.predict(X_test)

In [38]:
# Evaluate the model using Mean Square Error, Mean Absolute Error and Symmetric Mean Absolute Percentage Error

In [136]:
mse = mean_squared_error(y_test, predictions)
mae = mean_absolute_error(y_test, predictions)
smape_value = smape(y_test, predictions)

print(f'Mean Squared Error: {mse}')
print(f'Mean Absolute Error: {mae}')
print(f'Symmetric Mean Absolute Percentage Error: {round(smape_value,2)}%')
print(f'Actual kWh: {y_test.values[0]}')
print(f'Predicted kWh: {predictions[0]}')

Mean Squared Error: 19.93873450089328
Mean Absolute Error: 4.46528101029412
Symmetric Mean Absolute Percentage Error: 1.56%
Actual kWh: 288.104
Predicted kWh: 283.63871898970586

## Method 2: Making Predictions with Linear Regression using historical weather data from 54 charging stations with cummulative kWhDelivered

In [48]:
# Define the directory containing the CSV files

In [137]:
directory = './caltech_model_data'

In [ ]:
# Load data and sum all CSV files into a single dataframe

In [138]:
combined_data = pd.DataFrame()


# Loop through each CSV file in the directory
for filename in os.listdir(directory):
    if filename.endswith('.csv'):
        filepath = os.path.join(directory, filename)
        # Load the data from the CSV file
        data = pd.read_csv(filepath)
        # Append the data to the combined DataFrame
        combined_data = pd.concat([combined_data, data], axis=0)

summed_data = combined_data.groupby('month').agg({
    'kWhDelivered': 'sum',
    'MinTemp': 'first',
    'MaxTemp': 'first',
    'AvgTemp': 'first',
    'AvgPrecipitation': 'first',
    'AvgHumidity': 'first',
    'AvgWindSpeed': 'first'
}).reset_index()

# Print or save the result
summed_data.head()

,month,kWhDelivered,MinTemp,MaxTemp,AvgTemp,AvgPrecipitation,AvgHumidity,AvgWindSpeed
0,2018-05,15635.919485,11,32,18.290323,0.006855,56.451613,9.504032
1,2018-06,16984.573907,14,32,22.433333,0.000000,50.483333,9.220833
2,2018-07,18860.532653,17,44,27.548387,0.000000,46.762097,8.536290
3,2018-08,20685.462562,18,38,26.516129,0.000000,47.411290,8.705645
4,2018-09,20609.835595,17,35,24.533333,0.000000,49.204167,7.287500

In [ ]:
# Split the data

In [139]:
X = summed_data.drop(["kWhDelivered","month"], axis=1)
y = summed_data["kWhDelivered"]

X_train, X_test = X[:-1], X[-1:] 
y_train, y_test = y[:-1], y[-1:]

In [145]:
#Fit Linear Regression Model

In [146]:
model = LinearRegression()
model_fit = model.fit(X_train, y_train)

In [147]:
## Making Predictions using the model

In [141]:
predictions = model.predict(X_test)

In [ ]:
# Evaluate the model using Mean Square Error, Mean Absolute Error and Symmetric Mean Absolute Percentage Error

In [142]:
mse = mean_squared_error(y_test, predictions)
mae = mean_absolute_error(y_test, predictions)
smape_value = smape(y_test, predictions)

print(f'Mean Squared Error: {mse}')
print(f'Mean Absolute Error: {mae}')
print(f'Symmetric Mean Absolute Percentage Error: {round(smape_value,2)}%')
print(f'Actual kWh: {y_test.values[0]}')
print(f'Predicted kWh: {predictions[0]}')

Mean Squared Error: 14483522.62361377
Mean Absolute Error: 3805.7223524074598
Symmetric Mean Absolute Percentage Error: 35.12%
Actual kWh: 8933.09810185185
Predicted kWh: 12738.82045425931

## Method 3: Making Predictions with Linear Regression using historical weather data for each 54 charging stations using Transfer Learning

### Using Transfer Learning

In [143]:
# Initialize a dictionary to store the models and metrics
models = {}
metrics = {}

# Directory containing the CSV files
directory = "./caltech_model_data"  # Replace with your directory path

# List all files in the directory
filenames = sorted([filename for filename in os.listdir(directory) if filename.endswith('.csv')])

# Placeholder to store the first trained model for Transfer Learning
previous_model = None

# Loop through each CSV file in the directory
for filename in filenames:
    filepath = os.path.join(directory, filename)
    # Load the data from the CSV file
    data = pd.read_csv(filepath)
    
    # Extract the stationID
    stationID = filename.split('.')[0]  # Example: If filename is 'station1.csv'
    
    # Sort the data by the 'Month' column
    data = data.sort_values(by='month')
    
    # Select features (excluding identifiers and kWhDelivered)
    X = data.drop(["siteID", "stationID", "timezone", "spaceID", "kWhDelivered", "month"], axis=1)
    y = data["kWhDelivered"]
    
    # Split data into training and test sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=19)
    
    # Initialize or use the previous model for transfer learning
    if previous_model is not None:
        model = previous_model
        model.fit(X_train, y_train)
    else:
        model = LinearRegression()
        model.fit(X_train, y_train)
    
    # Predict the next month's kWhDelivered
    forecast = model.predict(X_test)
    
    # Calculate metrics
    mae = mean_absolute_error(y_test, forecast)
    mse = mean_squared_error(y_test, forecast)
    smape_value = smape(y_test, forecast)
    
    # Store the model and metrics
    models[stationID] = model
    metrics[stationID] = {
        'MAE': mae,
        'MSE': mse,
        'SMAPE (%)': smape_value,
        'Actual kWh': y_test.values[0] if len(y_test) > 0 else None, 
        'Predicted kWh': forecast[0] if len(forecast) > 0 else None
    }
    
    # Update the previous model for transfer learning
    previous_model = model

### Results from Transfer Learning

In [148]:
metrics_df = pd.DataFrame.from_dict(metrics, orient='index').reset_index()

# Rename the index column to 'stationID'
metrics_df = metrics_df.rename(columns={'index': 'stationID'})

metrics_df

The history saving thread hit an unexpected error (OperationalError('attempt to write a readonly database')).History will not be written to the database.

,stationID,MAE,MSE,SMAPE (%),Actual kWh,Predicted kWh
0,2-39-123-23,432.471830,189042.354242,76.387918,491.981000,879.614563
1,2-39-123-557,56.007149,3690.598928,36.791339,171.030000,250.570066
2,2-39-124-22,339.687997,116041.412481,92.176196,360.582000,725.833194
3,2-39-124-558,81.938351,7843.375202,112.285033,88.818000,137.148585
4,2-39-125-21,47.134154,4053.231512,14.748381,492.440214,488.103292
5,2-39-125-559,29.688234,881.391263,46.400106,49.139000,78.827234
6,2-39-126-20,125.279098,16721.049698,62.087598,274.391000,431.704413
7,2-39-126-560,79.048418,6652.677233,103.257706,96.008000,154.956050
8,2-39-127-19,112.631920,14656.590426,25.817342,548.545000,616.785017
9,2-39-127-561,27.980636,782.916018,32.427663,72.296000,100.276636
10,2-39-128-18,254.011311,70120.684704,78.566702,315.365000,494.550257
11,2-39-128-562,155.423339,24156.414346,122.233642,49.441000,204.864339
12,2-39-129-17,203.386760,73679.023973,42.465464,599.272000,622.901006
13,2-39-129-563,23.050181,531.310832,18.590191,112.466000,135.516181
14,2-39-130-31,285.389422,88777.090550,76.009430,376.209000,575.983186
15,2-39-130-564,68.727740,4723.502275,40.557421,203.821737,135.093997
16,2-39-131-30,90.291340,15017.504462,19.848079,642.875000,635.438825
17,2-39-131-565,76.909727,5915.106136,83.623104,53.517000,130.426727
18,2-39-138-29,250.357238,65287.023835,49.204029,457.272000,758.700535
19,2-39-138-566,154.093758,24906.831100,89.772611,194.534000,314.540449
20,2-39-139-28,311.888990,100084.883697,35.255611,712.932000,1077.831758
21,2-39-139-567,66.622366,4438.539603,43.668991,119.251000,185.873366
22,2-39-78-360,9.757816,146.735295,7.242211,346.194252,348.774302
23,2-39-78-361,80.101618,7147.978685,37.125383,331.437665,384.489155
24,2-39-78-362,60.566273,4070.221221,72.086424,219.766813,260.284450
25,2-39-78-363,118.118951,21657.550518,57.219142,305.542743,335.880922
26,2-39-78-364,31.348305,982.841161,17.634265,256.944913,288.646693
27,2-39-78-365,161.481725,27753.818853,101.627398,489.641352,287.202682
28,2-39-78-366,181.304046,33513.427721,53.872435,437.992289,593.953278
29,2-39-78-367,223.323472,51543.042478,97.300581,166.244526,430.429585
30,2-39-79-376,75.907568,5764.444594,27.216498,323.348000,400.832167
31,2-39-79-377,263.255430,111364.037820,60.038919,696.610000,228.267719
32,2-39-79-378,90.828484,16152.090296,20.240693,361.056402,540.779637
33,2-39-79-379,45.711023,2691.510798,14.408415,486.910000,465.734932
34,2-39-79-380,218.655310,50476.008457,46.920823,513.474000,680.497303
35,2-39-79-381,89.731756,9485.485317,25.169415,419.640000,547.235951
36,2-39-79-382,236.357194,55947.402216,149.672556,369.793000,124.343013
37,2-39-79-383,101.468557,10307.774150,48.449903,447.192000,349.173963
38,2-39-82-384,9.621063,92.564848,200.000000,1.604000,-8.017063
39,2-39-82-385,7.743000,59.954049,83.066030,13.193000,5.450000
40,2-39-83-386,25.834012,1267.273561,62.687391,15.278000,65.604406
41,2-39-83-387,28.406814,806.947094,69.233253,55.234000,26.827186
42,2-39-88-24,88.620674,10124.725249,25.777457,341.786000,478.062748
43,2-39-88-438,25.836251,674.878043,19.059141,236.494000,207.943678
44,2-39-89-25,114.616309,13433.722576,24.155863,449.660000,581.504900
45,2-39-89-439,127.899627,16408.024543,69.677125,226.938000,361.888148
46,2-39-90-26,90.326761,16242.601332,37.138795,334.052000,153.815965
47,2-39-90-440,20.026229,537.980053,8.445249,244.680000,276.407947
48,2-39-91-437,112.286084,19906.332747,27.724009,662.126000,464.410600
49,2-39-91-441,47.061426,3206.327565,16.525136,347.902000,269.351691
50,2-39-92-436,19.580768,383.477886,8.260847,418.171000,438.019009
51,2-39-92-442,71.766317,5154.517336,39.313632,265.345000,195.606765
52,2-39-95-27,122.869722,15113.337889,52.271646,474.439000,355.615166
53,2-39-95-444,22.002057,550.613679,8.472844,290.400000,260.241769